* {
  margin: 0;
  border: 0;
}

.animation-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #232323;
}

.background-img {
  position: absolute;
  top: 0;
}

.pointer {
  position: absolute;
  offset-path: path(
    'M287.963 397.207C287.452 397.207 286.948 396.967 286.629 396.515L258.955 357.137L234.007 370.419C233.541 370.667 232.978 370.674 232.507 370.433L169.667 338.556L136.652 370.159C136.318 370.474 135.863 370.637 135.411 370.607C134.952 370.574 134.529 370.352 134.244 369.989L111.844 341.459C111.574 341.119 111.455 340.682 111.511 340.248L122.711 252.274C122.752 251.956 122.889 251.656 123.1 251.411L144.711 226.6C145.27 225.956 146.237 225.856 146.918 226.37L196 263.452L242.333 208.8L195.978 199.73C195.096 199.556 194.522 198.704 194.692 197.819C194.867 196.937 195.715 196.359 196.604 196.533L245.685 206.137C246.252 206.248 246.718 206.652 246.907 207.196C247.096 207.741 246.985 208.348 246.611 208.789L197.485 266.73C196.929 267.389 195.952 267.496 195.263 266.974L146.17 229.885L125.881 253.178L114.829 339.985L135.7 366.57L168.252 335.411C168.752 334.933 169.496 334.822 170.111 335.137L233.222 367.156L258.696 353.596C259.418 353.211 260.318 353.426 260.792 354.096L289.292 394.648C289.811 395.382 289.633 396.4 288.896 396.915C288.611 397.111 288.285 397.207 287.963 397.207Z'
  );
  animation: move 10s infinite;
}

@keyframes move {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}
